
{
  "processors": [
    [
      "stylelint-processor-styled-components",
      {
        "moduleName": "lit-element"
      }
    ]
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "rules": {
    "no-empty-source": null
  }
}
